<div class="container">
  <h1> <%= @list.name %> </h1>
  <span> <%= link_to 'Back To Home', lists_path, class:'btn btn-secondary'%> </span>
  <span> <%= link_to 'Back To Home', lists_path, class:'btn btn-secondary'%> </span>

</div>
