.navbar-lewagon {
  justify-content: space-between;
  background: #1f2124;
  position: relative;
  bottom: 0;
  height: 50px;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon a {
  color: black;
  text-decoration: none;
    &:hover {
    color: red;
  }
}

.navbar-lewagon i {
  color: white;
}
