.navbar-lewagon {
  justify-content: space-between;
  background: #1f2124;
  border-radius: 10px;
  position: relative;
  bottom: 0;
  height: 50px;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon a {
  color: #f7a440;
  text-decoration: none;
    &:hover {
    color: white;
  }
}

.navbar-lewagon i {
  color: #f7a440;;
}
